.chart{
  flex:4;
  -webkit-box-shadow: 2px 4px 10px 1px #82CBFF; 
  box-shadow: 2px 4px 10px 1px #82CBFF;
  padding: 10px;
  color:rgb(228, 218, 218);

  .title{
    margin-bottom: 20px;
  }
}